.luckystarry-list {
  padding: 20px;

  .filter-container {
    margin-bottom: 10px;

    .filter-form {
      .el-form-item {
        margin-bottom: 0;
      }
    }
  }

  .toolbar-container {
    margin-bottom: 10px;
  }

  .pagination-container {
    text-align: right;
  }
}
